---
layout: default
title: uintptr_t
---

<div class="cmdln">
  <p>
    <span class="value string">oagoulart@github.io</span>
    <span class="value keyword">MINGW64</span>
    <span class="value deftype">~/GitHub/oAGoulart.github.io/projects</span>
  </p>
  <p>$ ls</p>
  <p>
    <a href="#runarc">runarc</a>.ts
    <a href="#qrcode">qrcode</a>.c
    <a href="#wrappem">wrappem</a>.cpp
    <a href="#dossier113">dossier113</a>.tex
    <a href="#pepi">pepi</a>.cpp
    <span>lua-walk.lua</span>
    <span>srlua-vc.c</span>
    <span>solis.cls</span>
    <span>hanoi-game.c</span>
    <span>markout.py</span>
    <span>roedor.go</span>
    <span>libpampa.c</span>
    <span>sea-trade.lua</span>
    <span>ascii-art.c</span>
    <span>libvhdl.vhd</span>
    <span>binc.c</span>
    <span>tetris-game.c</span>
    <span>market-sim.c</span>
    <span>potato.rb</span>
  </p>
</div>

{% include sectionmark.html name="runarc" %}
<div class="ascii">
  .+++++++++..
 +++ +++     +.
     ++     .+
    ++    .++   +++  ++    ++   .      +++.     ++  .+   .+++++
   ++++++++    ++   +++   +++  +++   +++  ++   ++ .+++  ++   ++
  ++  ++      ++   +++   ++  + ++   ++    ++   +++     ++
 .++   ++     ++ .+++   +++   ++    +  .+++   ++       ++
.++     ++    +++  ++   ++    +++   +++  ++   ++        +...+
++       +++
                  <span class="vpad">Copyright (c) 2025 Augusto Goulart</span>
{% include progressbar.html pct=82 %}
</div>
<p>
  A parser-free TypeScript framework for web-browser interactive fictions.<br>
  Read more about it in <a href="https://github.com/chiselworks/runarc/blob/main/runarc.pdf" target="_blank">this publication</a>.<br>
</p>
<p>
  <b>NOTE:</b> PROPRIETARY CLOSED-SOURCE.
</p>

{% include sectionmark.html name="qrcode" %}
<div class="ascii">
        Command-line QR Code generation and printing
                                      v. 1.2.0 Ms-RL
                  <span class="vpad">Copyright (c) 2025 Augusto Goulart</span>
{% include progressbar.html pct=100 %}
</div>
<p>
  Generate QR Codes from Version 1 to 5 and print them on terminal. Objective is to use Model 2 (ISO/IEC 18004:2024), byte mode, with EC level L. Read more about it <a href="https://github.com/oAGoulart/qrcode" target="_blank">here</a>.
</p>
<p>
  <b>NOTE:</b> QR Code is a registered trademark of DENSO WAVE INCORPORATED in Japan and in other countries.
</p>

{% include sectionmark.html name="wrappem" %}
<div class="ascii">
     __________________________________
    |\                                  \
    | \__________________________________\
    |  |                                  |
    |  |  . . . .-. .-. .-. .-. .-. .  .  |
    \  |  | | | |\  |-| |-' |-' |-  |\/|  |
     \ |  `.'.' ' ' ` ' '   '   `-' '  `  |
      \|__________________________________|    Ms-RL
                                            v. 2.0.0
                  <span class="vpad">Copyright (c) 2025 Augusto Goulart</span>

{% include progressbar.html pct=29 %}
</div>
<p>
  <b>UPDATE [2025/06/10]:</b> I've found a refactored version of WrappEm in one of my backup drives. I'll take the reusable parts and use for a version 1.0, until this version is done.
</p>
<p>
  This new version (2.0.0) is being re-written for easier adaptability into other formats in the future.
  It will include additional command-line options to check/extract/patch PE files without relying on other tools.
</p>
<p>
  Wrappem is a command-line tool that can patch a PE file's import table to load an external (payload) library into the process' virtual memory.
  The import table is used by Windows to load required libraries before calling the PE file entry function (i.e. /ENTRY on MSBuild).
</p>
<p>
  The most common use is to patch a system library (i.e. USER32.dll) that are often not in the root folder of an executable (.exe) to load a payload DLL, as this would not require any file in the root folder to be overwritten.
</p>
<p>
  This can be done manually but requires a lot of offset calculations, so a tool like wrappem is a time-saver and also eliminates any chances of miscalculations.
</p>

{% include sectionmark.html name="dossier113" %}
<div class="ascii">
<b>le Dossier nº 113</b> par <b>Émile Gaboriau</b> publié en 1867
                     1ère éd. éditeur <b>Édouard Dentu</b>

<em>translation, illustrations, and commentary</em> by <b>Augusto Goulart</b>
                                             <span class="vpad">1st ed. rel. TBD</span>

{% include progressbar.html pct=8.6 %}
</div>
<p>
  <b>UPDATE [2025/06/10]:</b> The original text, in Markdown format, can be found <a href="https://github.com/chiselworks/ledossier113" target="_blank">here</a>.
</p>
<p>
  This will be a translation — and commentary — of the novel Le Dossier nº 113 by Émile Gaboriau, published in 1867.
  The pages will be divided into two columns, with the original French text on the left and the English translation on the right.
  Also, in the outer margin, there will be notes that provide additional information about the text and why certain choices were made during the translation process.
</p>

{% include sectionmark.html name="pepi" %}
<div class="ascii">
$$$$$$$\  $$$$$$$$\ $$$$$$$\ $$$$$$\
$$  __$$\ $$  _____|$$  __$$\\_$$  _|
$$ |  $$ |$$ |      $$ |  $$ | $$ |
$$$$$$$  |$$$$$\    $$$$$$$  | $$ |
$$  ____/ $$  __|   $$  ____/  $$ |
$$ |      $$ |      $$ |       $$ |
$$ |      $$$$$$$$\ $$ |     $$$$$$\           Ms-RL
\__|      \________|\__|     \______| v. 0.1.2024251
                  <span class="vpad">Copyright (c) 2024 Augusto Goulart</span>

{% include progressbar.html pct=20 %}
</div>
<p>
  This is the Portable Executable Payload Injector (PEPI) meant to serve as a single payload loader for supported applications.
  This includes application specific DLLs and a loader for .pepino files (PEPI new object).
</p>
<p>
  This will use the newest version of wrappem to generate DLLs for targeted applications.
  Currently, there is no public release.
</p>
