---
layout: default
title: Portfolio
---

{% assign per_column = 2 %}

<div class="projects portfolio">
  <h1 class="title is-size-1 has-text-centered has-text-primary">{{ page.title }}</h1>

  <div class="container">
  {% if site.portfolio[0] %}
    {% assign i = 1 %}

    {% for work in site.portfolio %}

      {% if i == 1 %}
        <div class="columns">
      {% endif %}

      <div class="column">
        <figure class="image">
          {% assign link = work.image %}
          {% include util/prepend_link.html %}

          <img src="{{ link }}" alt="{{ work.title }}">
        </figure>
      {% if work.image_rev %}
        <figure class="image">
          {% assign link = work.image_rev %}
          {% include util/prepend_link.html %}

          <img src="{{ link }}" alt="{{ work.title }}">
        </figure>
      {% endif %}
        <p class="mt-1 has-text-right is-italic">© {{ "now" | date: "%Y" }} Augusto Goulart. Some Rights Reserved.</p>
      </div>

      {% if i == per_column %}
        </div> {% comment %} columns {% endcomment %}
        {% assign i = 1 %}
      {% else %}
        {% assign i = i | plus: 1 %}
      {% endif %}

    {% endfor %}

  {% else %}
    <p class="has-text-centered">There's no content to be shown here!</p>

  {% endif %}

  </div> {% comment %} container {% endcomment %}
</div> {% comment %} section {% endcomment %}
