/* Variables */
$color-code-background:  #f6f8fa;
$color-code-default:     #5a5c5e;
$color-code-blue:        #1592eb;
$color-code-cyan:        #00b0b0;
$color-code-green:       #2aa020;
$color-code-pink:        #e879e8;
$color-code-blue-dark:   #2850aa;
$color-code-green-light: #4ed967;
$color-code-red:         #ea2717;
$color-code-orange:      #e3a41b;
$color-code-grey:        #babfc2;
$color-code-greenish:    #98b25c;
$color-code-blue-dark:   #1e4561;

/* Syntax Highlighting */
code, kbd, pre {
  font-family: $font-code;
  font-weight: 300;
  font-size: 1.0em;
}

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  background-color: $color-code-background;
  border-radius: 3px;
}

code.highlighter-rouge {
  font-size: 0.8em;
}

pre {
  code, tt {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    white-space: pre;
  }
}

/* Code Syntax Color */
.highlight {
  pre {
    background-color: $color-code-background;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
  }

  color: $color-code-default;

  .err {
    color: $color-code-default;
  }
  .w {
    color: transparent;
  }
  .x, .n {
    color: $color-code-default;
  }
  .na {
    color: $color-code-blue;
  }
  .nb {
    color: $color-code-cyan;
  }
  .nc {
    color: $color-code-blue;
  }
  .no, .nd {
    color: $color-code-pink;
  }
  .ni, .ne {
    color: $color-code-default;
  }
  .nf {
    color: $color-code-cyan;
  }
  .nl {
    color: $color-code-blue-dark;
  }
  .nn {
    color: $color-code-green-light;
  }
  .nx {
    color: $color-code-cyan;
  }
  .py {
    color: $color-code-default;
  }
  .nt {
    color: $color-code-red;
  }
  .nv {
    color: $color-code-orange;
  }
  .vc, .vg, .vi, .bp, .o {
    color: $color-code-default;
  }
  .ow {
    color: $color-code-pink;
  }
  .c, .cm {
    color: $color-code-grey;
    font-style: italic;
  }
  .cp {
    color: $color-code-green;
    font-style: italic;
  }
  .c1, .cs {
    color: $color-code-grey;
    font-style: italic;
  }
  .k, .kc, .kd {
    color: $color-code-pink;
  }
  .kn {
    color: $color-code-blue;
  }
  .kp, .kr, .kt {
    color: $color-code-pink;
  }
  .l {
    color: $color-code-greenish;
  }
  .ld, .m, .mf, .mh, .mi, .mo, .il {
    color: $color-code-orange;
  }
  .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1 {
    color: $color-code-greenish;
  }
  .ss {
    color: $color-code-cyan;
  }
  .g, .gd, .ge, .gr, .gh, .gi, .go, .gp, .gs, .gu, .gt {
    color: $color-code-blue-dark;
  }
}
