@use 'bulma';

#navbarTop {
  border-bottom: 2px dashed bulma.$info;

  span.navbar-item {
    font-weight: bold;
  }
}

td.has-text-info { // TODO: create own class
  width: 20%;
}

footer.footer {
  border-top: 2px dashed bulma.$info;
  background-color: transparent;
}

div.columns { // TODO: create own class
  @include bulma.touch {
    padding: 0 1.5rem;
  }
}
