/*
 * Constant values
 */

@use 'sass:map';

@use 'bulma' with (
  $black: hsl(216, 28%, 7%),
  $black-bis: hsl(214, 28%, 10%),
  $black-ter: hsl(212, 30%, 18%),
  $grey-darker: hsl(225, 20%, 23%),
  $grey-dark: hsl(218, 13%, 28%),
  $grey: hsl(229, 5%, 46%),
  $grey-light: hsl(208, 19%, 69%),
  $grey-lighter: hsl(210, 17%, 82%),
  $grey-lightest: hsl(0, 0%, 89%),
  $white-ter: hsl(0, 0%, 94%),
  $white-bis: hsl(0, 0%, 96%),
  $white: hsl(0, 0%, 98%),
  $orange: hsl(29, 100%, 50%),
  $yellow: hsl(46, 100%, 50%),
  $green: hsl(157, 100%, 34%),
  $turquoise: hsl(170, 65%, 47%),
  $cyan: hsl(199, 53%, 52%),
  $blue: hsl(221, 87%, 60%),
  $purple: hsl(257, 95%, 67%),
  $red: hsl(5, 74%, 59%),
  $family-sans-serif: ('Josefin Sans', sans-serif),
  $family-monospace: ('Courier Prime', monospace),
  $primary: hsl(257, 95%, 67%),
  $primary-invert: hsl(0, 0%, 100%),
  $link: hsl(221, 87%, 60%),
  $link-invert: hsl(39, 13%, 40%),
  $link-light: hsl(221, 87%, 75%),
  $link-dark: hsl(221, 53%, 40%),
  $link-hover: hsl(221, 50%, 50%),
  $link-focus: hsl(221, 50%, 50%),
  $link-active: hsl(221, 50%, 50%),
  $custom-colors: (
    'redish': hsl(344, 84%, 43%),
    'blueish': hsl(221.1, 100%, 82%),
    'pink': hsl(303, 86%, 73%),
    'gold': hsl(41, 99%, 38%),
    'greenish': hsl(109, 34%, 47%),
    'blood': hsl(351, 87%, 12%)
  ),
  $body-line-height: 1
);

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$palettes: (
  'dark-palette': (
    'code': bulma.$grey-lighter,
    'text': bulma.$grey-lighter,
    'bg': bulma.$black-bis,
    'tab': bulma.$grey-dark,
    'body': bulma.$black,
    'link': map.get(bulma.$custom-colors, 'blueish'),
    'link-hover': map.get(bulma.$custom-colors, 'blueish'),
    'title': bulma.$white-ter,
    'hll': map.get(bulma.$custom-colors, 'blood'),
    'bis': bulma.$black-ter,
    'purple': bulma.$purple,
    'green': bulma.$green,
    'cyan': bulma.$cyan,
    'red': hsl(344, 78%, 50%),
    'redish': map.get(bulma.$custom-colors, 'redish'),
    'blue': hsl(221, 70%, 48%),
    'blueish': map.get(bulma.$custom-colors, 'blueish'),
    'yellow': bulma.$yellow,
    'pink': hsl(303, 58%, 60%),
    'orange': bulma.$orange,
    'gold': hsl(41, 90%, 45%),
    'greenish': map.get(bulma.$custom-colors, 'greenish'),
    'label-bg': transparent,
    'label': bulma.$primary,
    'label-border': 1px solid bulma.$primary,
    'footnote-bg': transparent,
    'footnote': bulma.$info,
    'footnote-border': 1px solid bulma.$info,
    'glossary-bg': transparent,
    'glossary': bulma.$link,
    'glossary-border': 1px solid bulma.$link,
    'switch-icon': '\e900',
    'lighness': 20%
  ),
  'light-palette': (
    'code': bulma.$grey-darker,
    'text': bulma.$text,
    'bg': bulma.$background,
    'tab': bulma.$border-light,
    'body': bulma.$white,
    'link': bulma.$link,
    'link-hover': bulma.$link-dark,
    'title': bulma.$black,
    'hll': hsl(60, 100%, 90%),
    'bis': bulma.$white-bis,
    'purple': bulma.$purple,
    'green': bulma.$green,
    'cyan': bulma.$cyan,
    'red': bulma.$red,
    'redish': map.get(bulma.$custom-colors, 'redish'),
    'blue': bulma.$blue,
    'blueish': map.get(bulma.$custom-colors, 'blueish'),
    'yellow': bulma.$yellow,
    'pink': map.get(bulma.$custom-colors, 'pink'),
    'orange': bulma.$orange,
    'gold': map.get(bulma.$custom-colors, 'gold'),
    'greenish': map.get(bulma.$custom-colors, 'greenish'),
    'label-bg': bulma.$primary,
    'label': bulma.$white,
    'label-border': none,
    'footnote-bg': bulma.$info-light,
    'footnote': bulma.$info,
    'footnote-border': none,
    'glossary-bg': bulma.$link,
    'glossary': bulma.$white,
    'glossary-border': none,
    'switch-icon': '\e902',
    'lighness': -20%
  )
) !default;
