@use 'palette';

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    margin-bottom: .5rem;

    &::marker {
      @include palette.set() {
        color: palette.get('link');
      }
    }

    & > ul, & > ol {
      margin-left: 1.5rem;

      li {
        margin-bottom: 0;
      }

      & > ul, & > ol {
        margin-left: 1.5rem;
      }
    }
  }
}

ul {
  list-style: square outside;

  ul {
    list-style: circle outside;

    ul {
      list-style: disc outside;

      ul > li::marker {
        content: 'â• ';
      }
    }
  }
}

ol {
  list-style: decimal outside;

  ol {
    list-style: upper-roman outside;

    ol {
      list-style: lower-alpha outside;

      ol {
        list-style: lower-roman outside;
      }
    }
  }
}
