/*
 * Util component
 */

@use 'sass:list';
@use 'sass:map';

@use 'bulma';

@mixin transform($value) {
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  -webkit-transform: $value;
  transform: $value;
}

@mixin flip($hor: true) {
  @if $hor {
    @include transform(scale(-1, 1));
  } @else {
    @include transform(scale(1, -1));
  }
}

@function color($name, $type: 1) {
  @return list.index(map.get(bulma.$colors, $name), $type);
}
