/* Ruby | adapted by me from wataru420 */

/* Comment */
code.language-ruby > .c {
	color: #999988;
	font-style: italic;
}

/* Error */
code.language-ruby > .err {
	color: #a61717;
	background-color: #e3d2d2;
}

/* Keyword */
code.language-ruby > .k {
	color: #000000;
	font-weight: bold;
}

/* Operator */
code.language-ruby > .o {
	color: #000000;
	font-weight: bold;
}

/* Comment.Multiline */
code.language-ruby > .cm {
	color: #999988;
	font-style: italic;
}

/* Comment.Preproc */
code.language-ruby > .cp {
	color: #999999;
	font-weight: bold;
}

/* Comment.Single */
code.language-ruby > .c1 {
	color: #999988;
	font-style: italic;
}

/* Comment.Special */
code.language-ruby > .cs {
	color: #999999;
	font-weight: bold;
	font-style: italic;
}

/* Generic.Deleted */
code.language-ruby > .gd {
	color: #000000;
	background-color: #ffdddd;
}

/* Generic.Deleted.Specific */
code.language-ruby > .gd .x {
	color: #000000;
	background-color: #ffaaaa;
}

/* Generic.Emph */
code.language-ruby > .ge {
	color: #000000;
	font-style: italic;
}

/* Generic.Error */
code.language-ruby > .gr {
	color: #aa0000;
}

/* Generic.Heading */
code.language-ruby > .gh {
	color: #999999;
}

/* Generic.Inserted */
code.language-ruby > .gi {
	color: #000000;
	background-color: #ddffdd;
}

/* Generic.Inserted.Specific */
code.language-ruby > .gi .x {
	color: #000000;
	background-color: #aaffaa;
}

/* Generic.Output */
code.language-ruby > .go {
	color: #888888;
}

/* Generic.Prompt */
code.language-ruby > .gp {
	color: #555555;
}

/* Generic.Strong */
code.language-ruby > .gs {
	font-weight: bold;
}

/* Generic.Subheading */
code.language-ruby > .gu {
	color: #aaaaaa;
}

/* Generic.Traceback */
code.language-ruby > .gt {
	color: #aa0000;
}

/* Keyword.Constant */
code.language-ruby > .kc {
	color: #000000;
	font-weight: bold;
}

/* Keyword.Declaration */
code.language-ruby > .kd {
	color: #000000;
	font-weight: bold;
}

/* Keyword.Pseudo */
code.language-ruby > .kp {
	color: #000000;
	font-weight: bold;
}

/* Keyword.Reserved */
code.language-ruby > .kr {
	color: #000000;
	font-weight: bold;
}

/* Keyword.Type */
code.language-ruby > .kt {
	color: #445588;
	font-weight: bold;
}

/* Literal.Number */
code.language-ruby > .m {
	color: #009999;
}

/* Literal.String */
code.language-ruby > .s {
	color: #d14;
}

/* Name.Attribute */
code.language-ruby > .na {
	color: #008080;
}

/* Name.Builtin */
code.language-ruby > .nb {
	color: #0086B3;
}

/* Name.Class */
code.language-ruby > .nc {
	color: #445588;
	font-weight: bold;
}

/* Name.Constant */
code.language-ruby > .no {
	color: #008080;
}

/* Name.Entity */
code.language-ruby > .ni {
	color: #800080;
}

/* Name.Exception */
code.language-ruby > .ne {
	color: #990000;
	font-weight: bold;
}

/* Name.Function */
code.language-ruby > .nf {
	color: #990000;
	font-weight: bold;
}

/* Name.Namespace */
code.language-ruby > .nn {
	color: #555555;
}

/* Name.Tag */
code.language-ruby > .nt {
	color: #000080;
}

/* Name.Variable */
code.language-ruby > .nv {
	color: #008080;
}

/* Operator.Word */
code.language-ruby > .ow {
	color: #000000;
	font-weight: bold;
}

/* Text.Whitespace */
code.language-ruby > .w {
	color: #bbbbbb;
}

/* Literal.Number.Float */
code.language-ruby > .mf {
	color: #009999;
}

/* Literal.Number.Hex */
code.language-ruby > .mh {
	color: #009999;
}

/* Literal.Number.Integer */
code.language-ruby > .mi {
	color: #009999;
}

/* Literal.Number.Oct */
code.language-ruby > .mo {
	color: #009999;
}

/* Literal.String.Backtick */
code.language-ruby > .sb {
	color: #d14;
}

/* Literal.String.Char */
code.language-ruby > .sc {
	color: #d14;
}

/* Literal.String.Doc */
code.language-ruby > .sd {
	color: #d14;
}

/* Literal.String.Double */
code.language-ruby > .s2 {
	color: #d14;
}

/* Literal.String.Escape */
code.language-ruby > .se {
	color: #d14;
}

/* Literal.String.Heredoc */
code.language-ruby > .sh {
	color: #d14;
}

/* Literal.String.Interpol */
code.language-ruby > .si {
	color: #d14;
}

/* Literal.String.Other */
code.language-ruby > .sx {
	color: #d14;
}

/* Literal.String.Regex */
code.language-ruby > .sr {
	color: #009926;
}

/* Literal.String.Single */
code.language-ruby > .s1 {
	color: #d14;
}

/* Literal.String.Symbol */
code.language-ruby > .ss {
	color: #990073;
}

/* Name.Builtin.Pseudo */
code.language-ruby > .bp {
	color: #999999;
}

/* Name.Variable.Class */
code.language-ruby > .vc {
	color: #008080;
}

/* Name.Variable.Global */
code.language-ruby > .vg {
	color: #008080;
}

/* Name.Variable.Instance */
code.language-ruby > .vi {
	color: #008080;
}

/* Literal.Number.Integer.Long */
code.language-ruby > .il {
	color: #009999;
}
