/* Syntax Highlighting */
code, kbd, pre {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1.0em;
}

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  background-color: #f6f8fA;
  border-radius: 3px;
}

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
}

.highlight pre {
  background-color: #f6f8fA;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

code.highlighter-rouge {
  font-size: 0.8em;
}

pre code, pre tt {
  background-color: transparent;
  border: none;
}

/* Text */
.highlight {
  color: #5a5c5e;
}

/* Errors */
.highlight .err {
  color: #5a5c5e;
}

/* Text Whitespace */
.highlight .w {
  color: transparent;
}

/* Other */
.highlight .x {
  color: #5a5c5e;
}

/* Name */
.highlight .n {
  color: #5a5c5e;
}

/* Name Attribute */
.highlight .na {
  color: #1592eb;
}

/* Name Builtin */
.highlight .nb {
  color: #00b0b0;
}

/* Name Class */
.highlight .nc {
  color: #267d0b;
}

/* Name Constant */
.highlight .no {
  color: #e879e8;
}

/* Name Decorator */
.highlight .nd {
  color: #e879e8;
}

/* Name Entity */
.highlight .ni {
  color: #5a5c5e;
}

/* Name Exception */
.highlight .ne {
  color: #5a5c5e;
}

/* Name Function */
.highlight .nf {
  color: #00b0b0;
}

/* Name Label */
.highlight .nl {
  color: #2850aa;
}

/* Name Namespace */
.highlight .nn {
  color: #4ed967;
}

/* Name Other */
.highlight .nx {
  color: #00b0b0;
}

/* Name Property */
.highlight .py {
  color: #5a5c5e;
}

/* Name Tag */
.highlight .nt {
  color: #ea2717;
}

/* Name Token */
.highlight .nv {
  color: #e3a41b;
}

/* Name Variable Class */
.highlight .vc {
  color: #5a5c5e;
}

/* Name Variable Global */
.highlight .vg {
  color: #5a5c5e;
}

/* Name Variable Instance */
.highlight .vi {
  color: #5a5c5e;
}

/* Name Builtin Pseudo */
.highlight .bp {
  color: #5a5c5e;
}

/* Operator */
.highlight .o {
  color: #5a5c5e;
}

/* Operator Word */
.highlight .ow {
  color: #e879e8;
}

/* Comment */
.highlight .c {
  color: #babfc2;
  font-style: italic;
}

/* Comment Multiline */
.highlight .cm {
  color: #babfc2;
  font-style: italic;
}

/* Comment Preproc */
.highlight .cp {
  color: #2aa020;
  font-style: italic;
}

/* Comment Single */
.highlight .c1 {
  color: #babfc2;
  font-style: italic;
}

/* Comment Special */
.highlight .cs {
  color: #babfc2;
  font-style: italic;
}

/* Keyword */
.highlight .k {
  color: #e879e8;
}

/* Keyword Constant */
.highlight .kc {
  color: #e879e8;
}

/* Keyword Declaration */
.highlight .kd {
  color: #e879e8;
}

/* Keyword Namespace */
.highlight .kn {
  color: #1592eb;
}

/* Keyword Pseudo */
.highlight .kp {
  color: #e879e8;
}

/* Keyword Reserved */
.highlight .kr {
  color: #e879e8;
}

/* Keyword Type */
.highlight .kt {
  color: #e879e8;
}

/* Literal */
.highlight .l {
  color: #98b25c;
}

/* Literal Date */
.highlight .ld {
  color: #e3a41b;
}

/* Literal Number */
.highlight .m {
  color: #e3a41b;
}

/* Literal Number Float */
.highlight .mf {
  color: #e3a41b;
}

/* Literal Number Hex */
.highlight .mh {
  color: #e3a41b;
}

/* Literal Number Integer */
.highlight .mi {
  color: #e3a41b;
}

/* Literal Number Oct */
.highlight .mo {
  color: #e3a41b;
}

/* Literal Number Integer Long */
.highlight .il {
  color: #e3a41b;
}

/* Literal String */
.highlight .s {
  color: #98b25c;
}

/* Literal String Backtick */
.highlight .sb {
  color: #98b25c;
}

/* Literal String Char */
.highlight .sc {
  color: #98b25c;
}

/* Literal String Doc */
.highlight .sd {
  color: #98b25c;
}

/* Literal String Double */
.highlight .s2 {
  color: #98b25c;
}

/* Literal String Escape */
.highlight .se {
  color: #98b25c;
}

/* Literal String Heredoc */
.highlight .sh {
  color: #98b25c;
}

/* Literal String Interpol */
.highlight .si {
  color: #98b25c;
}

/* Literal String Other */
.highlight .sx {
  color: #98b25c;
}

/* Literal String Regex */
.highlight .sr {
  color: #98b25c;
}

/* Literal String Single */
.highlight .s1 {
  color: #98b25c;
}

/* Literal String Symbol */
.highlight .ss {
  color: #00b0b0;
}

/* Generic */
.highlight .g {
  color: #1e4561;
}

/* Generic Deleted */
.highlight .gd {
  color: #1e4561;
}

/* Generic Emph */
.highlight .ge {
  color: #1e4561;
}

/* Generic Error */
.highlight .gr {
  color: #1e4561;
}

/* Generic Heading */
.highlight .gh {
  color: #1e4561;
}

/* Generic Inserted */
.highlight .gi {
  color: #1e4561;
}

/* Generic Output */
.highlight .go {
  color: #1e4561;
}

/* Generic Prompt */
.highlight .gp {
  color: #1e4561;
}

/* Generic Strong */
.highlight .gs {
  color: #1e4561;
}

/* Generic Subheading */
.highlight .gu {
  color: #1e4561;
}

/* Generic Traceback */
.highlight .gt {
  color: #1e4561;
}
