---
---
/* Imports */
@import 'reset';
@import 'code';

/* Macros */
@mixin text-color() {
  filter: invert(55%) sepia(0%) saturate(10%) hue-rotate(182deg) brightness(91%) contrast(88%);
}

@mixin icon-color() {
  filter: invert(41%) sepia(98%) saturate(697%) hue-rotate(160deg) brightness(92%) contrast(108%);
}

@mixin icon-hover-color() {
  filter: invert(32%) sepia(71%) saturate(1792%) hue-rotate(166deg) brightness(95%) contrast(103%);
}

/* General */
.tag {
  background-color: $color-box-background;
  border: 1px solid $color-box-border;
  overflow: auto;
  padding: 3px 3px;
  color: $color-text;

  .tag-anex-right {
    border-left: 1px solid $color-box-border;
    padding: 3px 0 3px 3px;
    margin-left: 3px;
  }

  &:hover {
    color: $color-text;
    background-color: $color-spoiler-hover;
  }
}

blockquote {
  background-color: $color-box-background;
  border-left: 5px solid $color-box-border;
  overflow: auto;
  padding: 0 10px 0 25px;
  margin: 16px 40px;
}

/* Navbar */
nav {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  background-color: $color-primary;

  /* Logo */
  .navbar-logo {
    float: left;
    padding: 10px;

    a img {
      width: 30px;
      @include icon-color();

      &:hover {
        @include icon-hover-color();
      }
    }
  }

  /* Menu Button */
  .navbar-button,
  #navbar-check {
     display: none;
  }

  /* Pages Links */
  .navbar-pages {
    position: absolute;
    right: 0;
    font-size: 18px;

    a {
      display: inline-block;
      position: relative;
      margin: 13px;
      color: $color-secondary;

      &:hover {
        color: $color-secondary-hover;

        &:after {
          width: 100%;
        }
      }

      &:after {
        content: '';
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        background: $color-secondary-hover;
        transition: all 0.25s ease-in 0s;
      }
    }
  }

  @media only screen and (max-width:560px) {
    /* Menu Button */
    .navbar-button {
      display: inline-block;
      position: absolute;
      right: 0;

      label {
        display: inline-block;
        padding: 13px;

        span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid $color-secondary;
        }

        &:hover {
          span {
            border-top: 2px solid $color-secondary-hover;
          }
        }
      }
    }

    /* Pages Links */
    .navbar-pages {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: $color-primary-hover;
      transition: all 0.3s ease-in;
      top: 50px;

      a {
        display: block;

        &:after {
          transition: all 0.5s ease-in 0s;
        }
      }
    }

    /* Dropdown Menu */
    #navbar-check:not(:checked) ~ .navbar-pages {
      height: 0px;
      overflow: hidden;
    }

    #navbar-check:checked ~ .navbar-pages {
      height: calc(50px * 2);
      overflow: auto;
      z-index: 1;
    }
  }
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* Home Page */
  .intro {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 30px;
    overflow: auto;
    text-align: center;
    background: $color-primary;

    h1 {
      font-size: 75px;
      font-weight: 600;
      color: $color-secondary;
    }

    p {
      padding: 30px 0;
      font-family: $font-code;
      font-size: 30px;
      font-weight: 100;
      color: $color-secondary;
    }

    /* Icons */
    a img {
      width: 48px;
      padding: 0;
      vertical-align: middle;
      @include icon-color();

      &:hover {
        @include icon-hover-color();
      }
    }
  }

  /* Posts */
  .post {
    margin: 0 auto;
    padding: 0 20px 50px 20px;
    width: calc(100vw - 20px);
    overflow: auto;
    background-color: $color-post-background;

    /* Maximum Size */
    @media only screen and (min-width:1100px) {
      width: 1080px;
    }

    /* Post Info */
    .post-info {
      margin: 40px 0;
      border-bottom: 1px solid $color-box-border;

      h1 {
        font-size: 50px;
      }

      p {
        font-size: 12px;
      }
    }

    /* Post Content */
    h1 {
      margin: 10px 0;
      font-size: 40px;
      font-weight: 300;
      color: $color-content-title;
    }

    p {
      margin: 10px 0;
      font-size: 18px;
      font-weight: 100;
      text-align: justify;
    }

    p.information {
      margin: 15px 0;
      font-size: 12px;
    }

    /* Content Spoiler */
    .spoiler {
      margin: 0 10px;

      /* Spoiler Content */
      .spoiler-content,
      input {
        display: none;
      }
      
      label,
      input:checked ~ .spoiler-content {
        display: block;
        background-color: $color-box-background;
        border: solid $color-box-border;
        padding: 10px 15px;
      }

      label {
        border-width: 1px;
        border-radius: 3px;
        overflow: auto;

        /* Spoiler Icon */
        .spoiler-icon {
          float: right;
          display: inline-block;

          img {
            vertical-align: middle;
            width: 20px;
            @include text-color();
          }
        }

        &:hover {
          background-color: $color-spoiler-hover;
        }
      }

      /* Show Content */
      input:checked {
        & ~ .spoiler-content {
          border-width: 0 1px 1px 1px;
          border-radius: 0 0 3px 3px;
        }

        & + label {
          border-radius: 3px 3px 0 0;

          .spoiler-info:before {
            content: "Hide Content: ";
          }

          .spoiler-icon {
            transform: rotate(180deg);
          }
        }
      }
      
      /* Hide Content */
      input:not(checked) + label {
        .spoiler-info:before {
          content: "Show Content: ";
        }
      }
    }

    /* List of Tags */
    .tags-list {
      font-size: 12px;

      li {
        display: inline-block;

        a {
          display: inline-block;
          max-width: 100px;
          overflow: hidden;
        }
      }

      .tag {
        margin: 3px;
      }
    }
  }
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;

  ul {
    width: 100%;
    padding: 30px;
    font-size: 16px;
    background-color: $color-footer;
    color: $color-text;
    text-align: center;
    overflow: auto;
    border-top: 1px solid $color-box-border;
    
    /* Line */
    li {
      padding: 2px;
    }
  }
}
