---
layout: null
---

<!doctype html>
<html lang="{{ site.language | default: 'en-US' }}" class="dark-palette">
{% include head.html %}
<body>
  <main>
    <div style="text-align: center; padding: 1rem; background-color: darkorange; color: white; font-weight: bolder;">
      NOTE: This site is still under construction (new theme for 2024).
    </div>
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarTop">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div id="navbarTop" class="navbar-menu">
            <div class="navbar-end">
              {% assign pages = "About,Projects,Blog" | split: "," %}
              {% for item in pages %}
                {% if item == page.title %}
                  <span class="navbar-item">{{ page.title }}</span>
                {% elsif item == "About" %}
                  <a class="navbar-item" href="/">{{ item }}</a>
                {% else %}
                  <a class="navbar-item" href="{{ item | downcase | prepend: '/' | append: '/' }}">{{ item }}</a>
                {% endif %}
              {% endfor %}
              <!-- <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-primary">
                    <i class="icon-search"></i>
                  </a>
                  <a class="button is-light">
                    <i class="icon-sun"></i>
                  </a>
                </div>
              </div> -->
            </div>
          </div>
        </nav>
        <div class="torso">
          {{ content }}
        </div>
        <footer class="footer">
          <div class="content has-text-centered">
            <p>
              <strong>Augusto Goulart</strong> &copy; 2019-2024. Some rights reserved.
            </p>
          </div>
        </footer>
      </div>
    </div>
  </main>
</html>
